<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaBlog</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/javablog</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>UrlFilter</filter-name>
    <filter-class>javablog.util.UrlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Blog</description>
    <display-name>Blog</display-name>
    <servlet-name>Blog</servlet-name>
    <servlet-class>javablog.servlet.Blog</servlet-class>
  </servlet>
  <servlet>
    <description>Category</description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>javablog.servlet.Category</servlet-class>
  </servlet>
  <servlet>
    <description>Author</description>
    <display-name>Author</display-name>
    <servlet-name>Author</servlet-name>
    <servlet-class>javablog.servlet.Author</servlet-class>
  </servlet>
  <servlet>
    <description>Tag</description>
    <display-name>Tag</display-name>
    <servlet-name>Tag</servlet-name>
    <servlet-class>javablog.servlet.Tag</servlet-class>
  </servlet>
  <servlet>
    <description>Archive</description>
    <display-name>Archive</display-name>
    <servlet-name>Archive</servlet-name>
    <servlet-class>javablog.servlet.Archive</servlet-class>
  </servlet>
  <servlet>
    <description>ShowArticle</description>
    <display-name>ShowArticle</display-name>
    <servlet-name>ShowArticle</servlet-name>
    <servlet-class>javablog.servlet.ShowArticle</servlet-class>
  </servlet>
  <servlet>
    <description>AddComment</description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>javablog.servlet.AddComment</servlet-class>
  </servlet>
  <servlet>
    <description>Search</description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>javablog.servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <description>Rss</description>
    <display-name>Rss</display-name>
    <servlet-name>Rss</servlet-name>
    <servlet-class>javablog.servlet.Rss</servlet-class>
  </servlet>
  <servlet>
    <description>EditArticle</description>
    <display-name>EditArticle</display-name>
    <servlet-name>EditArticle</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditArticle</servlet-class>
  </servlet>
  <servlet>
    <description>EditCategory</description>
    <display-name>EditCategory</display-name>
    <servlet-name>EditCategory</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditCategory</servlet-class>
  </servlet>
  <servlet>
    <description>EditTag</description>
    <display-name>EditTag</display-name>
    <servlet-name>EditTag</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditTag</servlet-class>
  </servlet>
  <servlet>
    <description>EditRole</description>
    <display-name>EditRole</display-name>
    <servlet-name>EditRole</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditRole</servlet-class>
  </servlet>
  <servlet>
    <description>EditUser</description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditUser</servlet-class>
  </servlet>
  <servlet>
    <description>ChangeStatus</description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.ChangeStatus</servlet-class>
  </servlet>
  <servlet>
    <description>Delete</description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.Delete</servlet-class>
  </servlet>
  <servlet>
    <description>EditLink</description>
    <display-name>EditLink</display-name>
    <servlet-name>EditLink</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditLink</servlet-class>
  </servlet>
  <servlet>
    <description>EditResource</description>
    <display-name>EditResource</display-name>
    <servlet-name>EditResource</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditResource</servlet-class>
  </servlet>
  <servlet>
    <description>EditMessage</description>
    <display-name>EditMessage</display-name>
    <servlet-name>EditMessage</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditMessage</servlet-class>
  </servlet>
  <servlet>
    <description>EditConfig</description>
    <display-name>EditConfig</display-name>
    <servlet-name>EditConfig</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.EditConfig</servlet-class>
  </servlet>
  <servlet>
    <description>Login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>javablog.servlet.admin.account.Login</servlet-class>
  </servlet>
  <servlet>
    <description>Logout</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>javablog.servlet.admin.account.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>VerifyImage</description>
    <display-name>VerifyImage</display-name>
    <servlet-name>VerifyImage</servlet-name>
    <servlet-class>javablog.servlet.admin.account.VerifyImage</servlet-class>
  </servlet>
  <servlet>
    <description>Register</description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>javablog.servlet.admin.account.Register</servlet-class>
  </servlet>
  <servlet>
    <description>FindPassword</description>
    <display-name>FindPassword</display-name>
    <servlet-name>FindPassword</servlet-name>
    <servlet-class>javablog.servlet.admin.account.FindPassword</servlet-class>
  </servlet>
  <servlet>
    <description>Account</description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>javablog.servlet.admin.account.Account</servlet-class>
  </servlet>
  <servlet>
    <description>MessageList</description>
    <display-name>MessageList</display-name>
    <servlet-name>MessageList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.MessageList</servlet-class>
  </servlet>
  <servlet>
    <description>CommentList</description>
    <display-name>CommentList</display-name>
    <servlet-name>CommentList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.CommentList</servlet-class>
  </servlet>
  <servlet>
    <description>UserList</description>
    <display-name>UserList</display-name>
    <servlet-name>UserList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.UserList</servlet-class>
  </servlet>
  <servlet>
    <description>ArticleList</description>
    <display-name>ArticleList</display-name>
    <servlet-name>ArticleList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.ArticleList</servlet-class>
  </servlet>
  <servlet>
    <description>LinkList</description>
    <display-name>LinkList</display-name>
    <servlet-name>LinkList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.LinkList</servlet-class>
  </servlet>
  <servlet>
    <description>ResourceList</description>
    <display-name>ResourceList</display-name>
    <servlet-name>ResourceList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.ResourceList</servlet-class>
  </servlet>
  <servlet>
    <description>RoleList</description>
    <display-name>RoleList</display-name>
    <servlet-name>RoleList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.RoleList</servlet-class>
  </servlet>
  <servlet>
    <description>CategoryList</description>
    <display-name>CategoryList</display-name>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.CategoryList</servlet-class>
  </servlet>
  <servlet>
    <description>TagList</description>
    <display-name>TagList</display-name>
    <servlet-name>TagList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.TagList</servlet-class>
  </servlet>
  <servlet>
    <description>LogList</description>
    <display-name>LogList</display-name>
    <servlet-name>LogList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.LogList</servlet-class>
  </servlet>
  <servlet>
    <description>ConfigList</description>
    <display-name>ConfigList</display-name>
    <servlet-name>ConfigList</servlet-name>
    <servlet-class>javablog.servlet.admin.display.ConfigList</servlet-class>
  </servlet>
  <servlet>
    <description>Install</description>
    <display-name>Install</display-name>
    <servlet-name>Install</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.Install</servlet-class>
  </servlet>
  <servlet>
    <description>FileUpload</description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>javablog.servlet.admin.edit.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tag</servlet-name>
    <url-pattern>/Tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Author</servlet-name>
    <url-pattern>/Author</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowArticle</servlet-name>
    <url-pattern>/ShowArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Archive</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rss</servlet-name>
    <url-pattern>/Rss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditArticle</servlet-name>
    <url-pattern>/admin/EditArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCategory</servlet-name>
    <url-pattern>/admin/EditCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTag</servlet-name>
    <url-pattern>/admin/EditTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditRole</servlet-name>
    <url-pattern>/admin/EditRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/admin/EditUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditResource</servlet-name>
    <url-pattern>/admin/EditResource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditMessage</servlet-name>
    <url-pattern>/admin/EditMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditConfig</servlet-name>
    <url-pattern>/admin/EditConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/admin/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/admin/ChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditLink</servlet-name>
    <url-pattern>/admin/EditLink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/admin/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/admin/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyImage</servlet-name>
    <url-pattern>/admin/VerifyImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/admin/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPassword</servlet-name>
    <url-pattern>/admin/FindPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/admin/Account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/admin/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagList</servlet-name>
    <url-pattern>/admin/TagList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogList</servlet-name>
    <url-pattern>/admin/LogList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigList</servlet-name>
    <url-pattern>/admin/ConfigList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentList</servlet-name>
    <url-pattern>/admin/CommentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/admin/UserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleList</servlet-name>
    <url-pattern>/admin/ArticleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkList</servlet-name>
    <url-pattern>/admin/LinkList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageList</servlet-name>
    <url-pattern>/admin/MessageList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceList</servlet-name>
    <url-pattern>/admin/ResourceList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleList</servlet-name>
    <url-pattern>/admin/RoleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Install</servlet-name>
    <url-pattern>/admin/Install</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/admin/FileUpload</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>